### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [5]:
# Calcualte the total number of schools
total_number_schools = len(school_data)

# calculate the total number of students;
total_number_students = len(student_data)


# calculate the total budget
total_budget = school_data["budget"].sum()

# calculate the average maths scores
average_maths_score = student_data['maths_score'].mean()


# calculate the average reading scores
average_reading_score = student_data['reading_score'].mean()

# Percentage of student with passing math_score (=,> 50)
student_passing_math = student_data["maths_score"] >= 50
percent_passing_math = ((student_passing_math).mean())*100

# Percentage of student with passing reading_score (=,> 50)
student_passing_reading = student_data["reading_score"] >= 50
percent_passing_reading = ((student_passing_reading).mean())*100

# Percentage of student who passed maths and readinge (% overall passing)

overall_passing = len(student_data[(student_data["maths_score"] >= 50) & (student_data["reading_score"] >= 50)])/total_number_students
percentage_overall_passing = overall_passing * 100

#dataframe to hold the results
area_summary = pd.DataFrame({"Total Schools": [total_number_schools],
                             "Total Students": [total_number_students],
                             "Total Budget": [total_budget],
                             "Average Math Score": [average_maths_score],
                             "Average Reading Score": [average_reading_score],
                             "% Passing Maths": [percent_passing_math],
                             "% Passing Reading": [percent_passing_reading],
                             "% Overall Passing": [percentage_overall_passing]})

#formating for cleaner outlook
area_summary["Total Budget"] = area_summary["Total Budget"].map("${:,.2f}".format)
area_summary["Total Students"] = area_summary["Total Students"].map("{:,}".format)
area_summary["Average Math Score"] = area_summary["Average Math Score"].map("{:.2f}".format)
area_summary["Average Reading Score"] = area_summary["Average Reading Score"].map("{:.2f}".format)
area_summary["% Passing Maths"] = area_summary["% Passing Maths"].map("{:.2f}%".format)
area_summary["% Passing Reading"] = area_summary["% Passing Reading"].map("{:.2f}%".format)
area_summary["% Overall Passing"] = area_summary["% Overall Passing"].map("{:.2f}%".format)
area_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.34,69.98,86.08%,84.43%,72.81%

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [6]:
school_grp = school_data_complete.groupby(["school_name"])

school_type = school_grp["type"].first()

total_students = school_grp["Student ID"].count()

total_school_budget = school_grp["budget"].first()

#calculation:
student_per_budget = total_school_budget/total_students

average_maths_score = school_grp["maths_score"].mean()


average_reading_score = school_grp["reading_score"].mean()

percent_passing_maths = school_data_complete[school_data_complete["maths_score"] >= 50].groupby(["school_name"]).count()["Student ID"] / total_students * 100

percent_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 50].groupby(["school_name"]).count()["Student ID"] / total_students * 100

percent_overall_passing = school_data_complete[(school_data_complete["maths_score"] >= 50) & (school_data_complete["reading_score"] >= 50)].groupby(["school_name"]).count()["Student ID"] / total_students * 100

#dataframe to hold the results
school_summary = pd.DataFrame({"School Type": school_type,
                             "Total Students": total_students,
                             "Total School Budget": total_school_budget,
                             "Per Student Budget": student_per_budget,
                             "Average Math Score": average_maths_score,
                             "Average Reading Score": average_reading_score,
                             "% Passing Maths": percent_passing_math,
                             "% Passing Reading": percent_passing_reading,
                             "% Overall Passing": percent_overall_passing})

#formating for cleaner outlook
school_summary["Total School Budget"] = school_summary["Total School Budget"].map("${:,.2f}".format)
school_summary["Per Student Budget"] = school_summary["Per Student Budget"].map("${:,.2f}".format)
school_summary["Total Students"] = school_summary["Total Students"].map("{:,}".format)
school_summary["Average Math Score"] = school_summary["Average Math Score"].map("{:.2f}".format)
school_summary["Average Reading Score"] = school_summary["Average Reading Score"].map("{:.2f}".format)
school_summary["% Passing Maths"] = school_summary["% Passing Maths"].map("{:.2f}%".format)
school_summary["% Passing Reading"] = school_summary["% Passing Reading"].map("{:.2f}%".format)
school_summary["% Overall Passing"] = school_summary["% Overall Passing"].map("{:.2f}%".format)
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,Government,"4,976","$3,124,928.00",$628.00,72.35,71.01,86.08%,87.38%,80.08%
Cabrera High School,Independent,"1,858","$1,081,356.00",$582.00,71.66,71.36,86.08%,89.07%,80.79%
Figueroa High School,Government,"2,949","$1,884,411.00",$639.00,68.70,69.08,86.08%,82.81%,67.65%
Ford High School,Government,"2,739","$1,763,916.00",$644.00,69.09,69.57,86.08%,82.22%,67.47%
Griffin High School,Independent,"1,468","$917,500.00",$625.00,71.79,71.25,86.08%,88.49%,81.34%
Hernandez High School,Government,"4,635","$3,022,020.00",$652.00,68.87,69.19,86.08%,81.88%,66.36%
Holden High School,Independent,427,"$248,087.00",$581.00,72.58,71.66,86.08%,88.52%,78.92%
Huang High School,Government,"2,917","$1,910,635.00",$655.00,68.94,68.91,86.08%,81.45%,66.71%
Johnson High School,Government,"4,761","$3,094,650.00",$650.00,68.84,69.04,86.08%,81.98%,67.19%
Pena High School,Independent,962,"$585,858.00",$609.00,72.09,71.61,86.08%,86.59%,79.21%
Rodriguez High School,Government,"3,999","$2,547,363.00",$637.00,72.05,70.94,86.08%,87.40%,79.42%
Shelton High School,Independent,"1,761","$1,056,600.00",$600.00,72.03,70.26,86.08%,86.71%,78.88%
Thomas High School,Independent,"1,635","$1,043,130.00",$638.00,69.58,69.77,86.08%,82.63%,69.48%
Wilson High School,Independent,"2,283","$1,319,574.00",$578.00,69.17,68.88,86.08%,81.30%,67.46%
Wright High School,Independent,"1,800","$1,049,400.00",$583.00,72.05,70.97,86.08%,86.67%,79.72%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [7]:
top_school_performance = school_summary.sort_values(by="% Overall Passing", ascending=False)
top_school_performance.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Griffin High School,Independent,"1,468","$917,500.00",$625.00,71.79,71.25,86.08%,88.49%,81.34%
Cabrera High School,Independent,"1,858","$1,081,356.00",$582.00,71.66,71.36,86.08%,89.07%,80.79%
Bailey High School,Government,"4,976","$3,124,928.00",$628.00,72.35,71.01,86.08%,87.38%,80.08%
Wright High School,Independent,"1,800","$1,049,400.00",$583.00,72.05,70.97,86.08%,86.67%,79.72%
Rodriguez High School,Government,"3,999","$2,547,363.00",$637.00,72.05,70.94,86.08%,87.40%,79.42%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [8]:
buttom_school_performance = school_summary.sort_values(by="% Overall Passing", ascending=True)
buttom_school_performance.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Hernandez High School,Government,"4,635","$3,022,020.00",$652.00,68.87,69.19,86.08%,81.88%,66.36%
Huang High School,Government,"2,917","$1,910,635.00",$655.00,68.94,68.91,86.08%,81.45%,66.71%
Johnson High School,Government,"4,761","$3,094,650.00",$650.00,68.84,69.04,86.08%,81.98%,67.19%
Wilson High School,Independent,"2,283","$1,319,574.00",$578.00,69.17,68.88,86.08%,81.30%,67.46%
Ford High School,Government,"2,739","$1,763,916.00",$644.00,69.09,69.57,86.08%,82.22%,67.47%

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [9]:
IX_year = student_data[student_data["year"] == 9]
IX_year_maths_scores = IX_year.groupby("school_name")["maths_score"].mean()

X_year = student_data[student_data["year"] == 10]
X_year_maths_scores = X_year.groupby("school_name")["maths_score"].mean()

XI_year = student_data[student_data["year"] == 11]
XI_year_maths_scores = XI_year.groupby("school_name")["maths_score"].mean()

XII_year = student_data[student_data["year"] == 12]
XII_year_maths_scores = XI_year.groupby("school_name")["maths_score"].mean()

#dataframe to store results:
mathsscores_byyear = pd.DataFrame({"YEAR 9" : IX_year_maths_scores,
                                   "YEAR 10": X_year_maths_scores,
                                   "YEAR 11": XI_year_maths_scores,
                                   "YEAR 12": XII_year_maths_scores})

#Round the values to 2 decimal palce:
mathsscores_byyear = mathsscores_byyear.round(2)
mathsscores_byyear

                       YEAR 9  YEAR 10  YEAR 11  YEAR 12
school_name
Bailey High School      72.49    71.90    72.37    72.37
Cabrera High School     72.32    72.44    71.01    71.01
Figueroa High School    68.48    68.33    68.81    68.81
Ford High School        69.02    69.39    69.25    69.25
Griffin High School     72.79    71.09    71.69    71.69
Hernandez High School   68.59    68.87    69.15    69.15
Holden High School      70.54    75.11    71.64    71.64
Huang High School       69.08    68.53    69.43    69.43
Johnson High School     69.47    67.99    68.64    68.64
Pena High School        72.00    72.40    72.52    72.52
Rodriguez High School   71.94    71.78    72.36    72.36
Shelton High School     72.93    72.51    70.10    70.10
Thomas High School      69.23    70.06    69.66    69.66
Wilson High School      69.21    69.46    68.38    68.38
Wright High School      71.74    72.18    73.28    73.28

## Reading Score by Year

* Perform the same operations as above for reading scores

In [10]:
IX_year = student_data[student_data["year"] == 9]
IX_year_reading_scores = IX_year.groupby("school_name")["reading_score"].mean()

X_year = student_data[student_data["year"] == 10]
X_year_reading_scores = X_year.groupby("school_name")["reading_score"].mean()

XI_year = student_data[student_data["year"] == 11]
XI_year_reading_scores = XI_year.groupby("school_name")["reading_score"].mean()

XII_year = student_data[student_data["year"] == 12]
XII_year_reading_scores = XI_year.groupby("school_name")["reading_score"].mean()

#Dataframe to store the results:
readingscores_byyear = pd.DataFrame({"YEAR 9" : IX_year_reading_scores,
                                   "YEAR 10": X_year_reading_scores,
                                   "YEAR 11": XI_year_reading_scores,
                                   "YEAR 12": XII_year_reading_scores})

readingscores_byyear = readingscores_byyear.round(2)
readingscores_byyear

                       YEAR 9  YEAR 10  YEAR 11  YEAR 12
school_name
Bailey High School      70.90    70.85    70.32    70.32
Cabrera High School     71.17    71.33    71.20    71.20
Figueroa High School    70.26    67.68    69.15    69.15
Ford High School        69.62    68.99    70.74    70.74
Griffin High School     72.03    70.75    72.39    72.39
Hernandez High School   68.48    70.62    68.42    68.42
Holden High School      71.60    71.10    73.31    73.31
Huang High School       68.67    69.52    68.74    68.74
Johnson High School     68.72    69.30    69.97    69.97
Pena High School        70.95    72.32    71.70    71.70
Rodriguez High School   70.90    70.14    71.42    71.42
Shelton High School     70.72    69.88    71.15    71.15
Thomas High School      69.67    69.74    70.75    70.75
Wilson High School      68.68    68.41    68.80    68.80
Wright High School      71.82    71.39    70.48    70.48

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [11]:
school_data_complete["Per Student Budget"] = school_data_complete["budget"] / school_data_complete["size"]

#create bins
bins = [0, 585, 630, 645, 680]
#labels for bins:
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]

#slicing:
school_data_complete["Spending Ranges (Per Student)"] = pd.cut(school_data_complete["Per Student Budget"], bins, labels=group_names)

#calculation:
avg_maths_score = school_data_complete.groupby(["Spending Ranges (Per Student)"]).mean()["maths_score"]
avg_reading_score = school_data_complete.groupby(["Spending Ranges (Per Student)"]).mean()["reading_score"]
passing_math = school_data_complete[school_data_complete["maths_score"] >= 50].groupby(["Spending Ranges (Per Student)"]).count()["Student ID"] / school_data_complete.groupby(["Spending Ranges (Per Student)"]).count()["Student ID"] * 100
passing_reading = school_data_complete[school_data_complete["reading_score"] >= 50].groupby(["Spending Ranges (Per Student)"]).count()["Student ID"] / school_data_complete.groupby(["Spending Ranges (Per Student)"]).count()["Student ID"] * 100
overall_passing = school_data_complete[(school_data_complete["maths_score"] >= 50) & (school_data_complete["reading_score"] >= 50)].groupby(["Spending Ranges (Per Student)"]).count()["Student ID"] / school_data_complete.groupby(["Spending Ranges (Per Student)"]).count()["Student ID"] * 100

#storing results in dataframe:
school_spending = pd.DataFrame({
    "Average Math Score": avg_maths_score,
    "Average Reading Score": avg_reading_score,
    "% Passing Math": passing_math,
    "% Passing Reading": passing_reading,
    "Overall Passing Rate": overall_passing
})                    
 
 #Rounding values in 2 decimal place:                           
school_spending = school_spending.round(2)
school_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,70.94,70.38,88.16,85.57,75.58
$585-630,72.17,70.97,91.56,87.35,79.96
$630-645,70.10,69.95,85.39,84.26,72.03
$645-680,68.88,69.06,81.56,81.82,66.77

## Scores by School Size

* Perform the same operations as above, based on school size.

In [13]:
bins = [0, 1000, 2000, 5000]
group_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

#binning together
school_data_complete["School Size"] = pd.cut(school_data_complete["size"], bins, labels=group_labels)

#calculation:
avg_maths_score = school_data_complete.groupby(["School Size"]).mean()["maths_score"]
avg_reading_score = school_data_complete.groupby(["School Size"]).mean()["reading_score"]
percent_passing_math = school_data_complete[school_data_complete["maths_score"] >= 50].groupby(["School Size"]).count()["Student ID"] / school_data_complete.groupby(["School Size"]).count()["Student ID"] * 100
percent_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 50].groupby(["School Size"]).count()["Student ID"] / school_data_complete.groupby(["School Size"]).count()["Student ID"] * 100
percent_overall_passing = school_data_complete[(school_data_complete["maths_score"] >= 50) & (school_data_complete["reading_score"] >= 50)].groupby(["School Size"]).count()["Student ID"] / school_data_complete.groupby(["School Size"]).count()["Student ID"] * 100


#dataframe to store result:
school_size = pd.DataFrame({
    "Average Math Score": avg_maths_score,
    "Average Reading Score": avg_reading_score,
    "% Passing Math": percent_passing_math,
    "% Passing Reading": percent_passing_reading,
    "Overall Passing Rate": percent_overall_passing
})            
      
 # Rounding values in two decimal places:                         
school_size = school_size.round(2)   
school_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Size,,,,,
Small (<1000),72.24,71.63,91.14,87.19,79.12
Medium (1000-2000),71.44,70.72,89.91,86.74,78.09
Large (2000-5000),69.93,69.69,84.72,83.62,70.97

## Scores by School Type

* Perform the same operations as above, based on school type

In [24]:
school_type_grouped = school_data_complete.groupby("type")

#calculation:
average_maths_score = school_type_grouped['maths_score'].mean()
average_reading_score = school_type_grouped['reading_score'].mean()


percent_passing_math = school_data_complete[school_data_complete["maths_score"] >= 50].groupby(["type"]).size()/school_type_grouped.size() * 100
percent_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 50].groupby(["type"]).size()/school_type_grouped.size() * 100

overall_passing = (percent_passing_math + percent_passing_reading)/2

#dataframe to store result
school_scores = pd.DataFrame({"Average Math Score": average_maths_score,
                              "Average Reading Score": average_reading_score,
                              "% Passing Math": percent_passing_math,
                              "% Passing Reading": percent_passing_reading,
                              "Overall Passing Rate": overall_passing})
school_scores = school_scores.round(4)
school_scores

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.834806,69.675929,84.462375,83.587562,70.698993
Independent,71.368822,70.718933,89.204043,86.247789,76.973340

In [ ]:
#Description:

# From the above data analysis we can easily conclude that independent school slightly outstand the government school interms of maths score and reading scores.
# Furthermore, school size of less than 1000 have an excellent result compare to other bigger sized school.
# Independent schools takes first, second and fourth position while government schools comes in third and fifth place in terms of top five performance by overall passing.
# Government schools have four places out of five in worst performing school.
# Additionally, school spending per student does not have any relation with student performance.
# Overall, this analysis is a powerful tool to open lots of possibilities for further impovement in education sector.